body {
    background-color: #FFFCE2;
}
.centring {
    left: 15%;
    right: 15%;
    position: relative;
}
.default-text{
    font-size: 14px;
}
#main {
    width: 70%;
    height: 98vh;
    position: fixed;
    background-color: #FBF89E;
    border-radius: 1vh;
}
#short-info {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0px;
    background-color: #E6E04C;
    border-radius: 3vh;
}
#long-info {
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0px;
}
#short-content {
    top: 17%;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
}
#avatar {
    width: 70%;
    border-radius: 3vh;
}
#name{
    padding-top: 2vh;
    font-size: 22px;
}
#position {
    width: 50%;
    margin-top: 2vh;
    left: 25%;
    right: 25%;
    position: absolute; 
    background-color: #D4CF46;
    border-radius: 4vh;
}